*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Assistant", sans-serif;
    overflow-x: hidden;
   
}
li{
    list-style: none;
}
@keyframes vibrate {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(-2px, -2px); }
    }

.main-title {
    text-align: center;
    margin-bottom: 15px;
}
    .main-title h2,h3{
        font-size: 20px;
        color: #D5D5DB;
    }
    .main-title p{
        font-size: 60px;
        font-family: "Amatic SC", sans-serif;
        margin: 0;
    }
    .main-title span{
        color: #CE1212;

    }
.container{
    width:90%;
    margin: 0 auto;
}
/* mavbar */
    #navbar{
    position: fixed;
    top:0;
    right:0;
    left:0;
    padding: 20px;
    padding-inline: 50px;
    background-color: white;
    z-index: 999;
    }
.logo span{
    font-size: 35px;
    font-weight: 700;
    color: #212529;
}
#active{
    color: black;
    border-bottom: #CE1212 3px solid;
}
.nav-dot{
    height: 7px;
    width: 7px;
    background-color: #CE1212;
    border-radius: 50%;
    margin-top: 25px;
    display: inline-block;
}

.nav-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links{
    color:#7F7F90;
}
.nav-links a{
    padding-block: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #7F7F90;
    
}
.nav-links li{

    padding: 15px;
    transition: all 1s 1s;
}
.nav-links li:hover a{
    color: black;
    border-bottom: #CE1212 solid 3px;
    transition: scale(1.1);

}
.nav-moon{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
/* ...........Header.............. */

.vibrate-image img {
  width: 300px;
  transition: transform 0.2s ease-in-out;
}
.vibrate-image:hover img {
  animation: vibrate 0.3s infinite;
}
#header{
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  padding-top:290px ;
}
.header-cont{
  text-align: center;
  
}
.header-img img{
  width: 400px;
  margin: 20px;
  /* margin-right: 20%; */
  margin-left: 25%;
}
.header-cont h1{
  font-family: "Amatic SC", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #37373F;
}
#header .header-cont p{
  font-size: 20px;
  line-height: 1.8;
  color: #4F4F5A;

}
.btns {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  justify-content: center;
} 
.btn1{
  width: 170px;
  height: 50px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #CE1212;
  color:white;
  border: none;
  font-size: 15px;

  

}
.btn2{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btns a{
  text-decoration: none;
  color: black;
}

.header-cont .btn1:hover {
  background-color: #e61414;
}
.header-cont .btns .video-btn2 {
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  transition: color 0.5s;
}

.header-cont .btns .video-btn2:hover,
.header-cont .btns .video-btn2 i:hover {
  color: #E61414;
}

.video-btn2 .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: linear-gradient(to right,
  #d42f2f 0 50%,
      transparent 50% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 5px;
  position: relative;
}

.video-btn2 .icon i {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
.btns span{
  position: absolute;
  left: 72%;
  bottom: 30%;
} 
/* ...............chefs.............. */

    .chefs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
  }
  
  .chefs-card .card {
    display: flex;
    flex-direction: column;
    width: 100%; 
    text-align: center;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; 
  }
  
  .chefs-card .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
  .chefs-card .card svg {
    position: absolute;
    bottom: -100px;
    right: 0;
  }
  
  .card .card-content {
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: white;
    /* margin-top: -40px; */
  }
  
  .card .card-content h4 {
    font-size: 20px; 
    font-weight: bold;
    padding: 10px 0;
  }
  
  .card .card-content span {
    margin: 5px 0 10px;
    color: #947f90;
    font-size: 16px; 
    font-weight: 500;
  }
  
  .card-content p {
    padding: 10px;
    color: #7f7f90;
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.3;
  }

  .social-box {
    position: absolute;
    top: 40px;
    right: -55px;
    background-color: #ffffff4d;
    padding: 10px;
    border-radius: 4px;
    transition: right 1.5s;
  }
  
  .social-box li {
    padding: 5px 0;
  }
  
  .social-box li i {
    color: #37373f66;
    padding: 5px;
    font-size: 20px;
  }
  
  .social-box li i:hover {
    color: black;
  }
  
  .card:hover .social-box {
    right: 8px;
  }

  .chefs-card .card svg {
    position: absolute;
    bottom: 30%; 
    right: 0;
    z-index: 1; 
    width: 100%; 
    height: auto;
}
/* ........................ */
.img-slider{
    margin-top: 30px;
    padding-top: 50px;
    background-color: #EEEEEE;
    position: relative;
    top: 30%;
    }
.img-slider h2{
    font-size: 60px;
    font-weight: 600;
    font-family: "Amatic SC", sans-serif;
    margin: 0;
}
.slider-txt{
    text-align: center;
}
.slider-txt h4{
    font-size: 24px;
    color: #7F7F90;
}
.slider-cont{
    columns:1 270px ;
    gap:10px;
width: 100%;
}

.img-slider {
    gap: 10px;
}
.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}
.text-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    text-align: center;
    transition: bottom 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.image-container:hover .text-container {
    bottom: 0;
} 
.img-slider .image-container h3{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;

    
}
.img-slider .image-container p{
    margin: 0;
    padding: 0;
    font-size: 20px;

}
.contact-txt{
    text-align: center;
}
.contact-map iframe{
    width: 100%;

}
/* ....................... */
.contact-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.cont-sec{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    width: 100%;
    margin: 20px;
}
.cont-sec button{
    width: 50px;
    height: 50px;
    background-color: #CE1212;
    border-radius: 30px;
    border: none;
    color:white;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.cont-sec button:hover{
  background-color: #E61414;
}
.cont-sec h3{
    color: #7D7D7D;
}
.cont-sec .cont-txt p{
    font-size: 18px;
}
.cont-sec .cont-txt span{
    font-size: 20px;
    font-weight: bold;
}
.cont-icon i{
    font-size: 20px;
}
/* Form */
.contact-form {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-form form {
    padding-top: 40px;
    position: relative;
    top: 20%;
}

.contact-form input {
    height: 50px;
    width: 100%;
    
    margin-bottom: 10px;
}

.contact-form textarea:focus, 
.contact-form input:focus {
    border: #CE1212 solid 2px; 
    outline: none;
    color: #CE1212;
}

.contact-form .subject, textarea {
    width: 100%;
}

textarea {
    height: 90px;
    resize: vertical;
    min-height: 200PX;
    max-height: 300PX;
}

.form-btn {
    position: relative;
    left: 44%;
    padding-top: 10px;
}

.form-btn button {
    width: 160px;
    height: 45px;
    color: white;
    background-color: #CE1212;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}
.form-btn button:hover{
  background-color: #e61414;
}
/* footer */

#footer {
  background-color: #070606;
  color: #fff;
  padding: 40px 0;
  
}

#footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

#footer h3 {
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: bold;
}

#footer p {
  line-height: 1.6;
  font-size: 18px;
}

.footer-sec1 {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer-logo span {
  font-size: 30px;
  font-weight: bold;
}

.foo-sec1-txt p {
  margin-top: 10px;
}

.foo-sec1-icons .icon {
  display: flex;
  /* gap: 10px; */
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
}
.foo-sec1-icons h3{
  text-align: center;
  padding-block: 20px;
  border-bottom: #585858 solid 3px;
}
.foo-sec1-icons i {
  font-size: 28px;
  cursor: pointer;
  padding: 18px;
  
}

.footer-sec2 {
  flex: 2;
  margin-bottom: 20px;
}

.footer-sec2 input[type="text"] {
  /* flex: 2; */
  padding: 10px;
  border: none;
  border-radius: 5px;
  width:100%;
  height: 40px;
  margin-right: 10px;
}

.footer-sec2 button {
  padding: 10px 20px;
  background-color: #CE1212;
  border: none;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 18px;
  
}
  .foo-sec2-items {
    display: flex;
    gap: 20px; }

.footer-menu {
    display: flex;
    flex-direction: column;
}
.footer-menu span {
    margin-bottom: 10px; 
}

.footer-menu span i {
  margin-right: 5px;
}

.footer-sec3 {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-sec3 p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-sec3 i {
  margin-right: 10px;
  font-size:24px;
  color: #CE1212;

}
.foo-logo{
  color: white;
}
.quick-links {
  display: flex;
  justify-content: space-around;
  width: 300px; 
  align-items: CENTER;;
}

.quick-links .column {
  display: flex;
  flex-direction: column;

}

.quick-links span {
  font-size: 16px;
  color: white ;
  margin-bottom: 10px;
  transition: transform 2s;
  width: 200px;
  height: 30px;

}

.quick-links i {
  margin-right: 8px;
}
.quick-links span:hover{
  transform: translateX(30px);
  color:#e61414;
  background-color: rgba(94, 90, 90, 0.2);

}